$mode: (
  "color": ("light", 900),
  "background-color": ("dark", 700),
  "border-color": ("dark", 700),
);

$reverse: (
  "color": ("dark", 900),
  "background-color": ("light", 950),
  "border-color": ("light", 750),
);

$primary: (
  "color": ("light", 900),
  "background-color": ("primary", 550),
  "border-color": ("primary", 550),
);

$success: (
  "color": ("light", 900),
  "background-color": ("success", 550),
  "border-color": ("success", 550),
);

$info: (
  "color": ("light", 900),
  "background-color": ("info", 550),
  "border-color": ("info", 550),
);

$warning: (
  "color": ("dark", 900),
  "background-color": ("warning", 550),
  "border-color": ("warning", 550),
);

$danger: (
  "color": ("light", 900),
  "background-color": ("danger", 550),
  "border-color": ("danger", 550),
);

$config: (
  "roles": (
    "mode": $mode,
    "reverse": $reverse,
    "primary": $primary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
  ),
);
