@use "backdrop";
@use "text";

@use "app";
@use "toolbar";
@use "tabs";
@use "switch";
@use "segmented-field";
@use "radio";
@use "select";
@use "modal";
@use "field";
@use "collapse";
@use "checkbox";
@use "card";
@use "button";
@use "tag";
@use "avatar";
@use "action";
@use "divider";
@use "dropdown";
@use "toast";
@use "skeleton";
@use "gesture-indicator";
@use "slide-range";
@use "badge";
@use "route-navigator";
@use "tooltip";


// Roles
$colors: (
  "light": (
    #ffffff,
    950,
  ),
  "dark": (
    #000000,
    950,
  ),
  "primary": (
    #0152a8,
    550,
  ),
  "danger": (
    #dc3545,
    550,
  ),
  "success": (
    #1c9172,
    550,
  ),
  "info": (
    #148ad9,
    550,
  ),
  "warning": (
    #ffc107,
    550,
  ),
);

$layers: (
  "backdrop": backdrop.$config,
  "text": text.$config,
  "app": app.$config,
  "toolbar": toolbar.$config,
  "tabs": tabs.$config,
  "switch": switch.$config,
  "segmented-field": segmented-field.$config,
  "radio": radio.$config,
  "select": select.$config,
  "modal": modal.$config,
  "field": field.$config,
  "collapse": collapse.$config,
  "checkbox": checkbox.$config,
  "card": card.$config,
  "button": button.$config,
  "tag": tag.$config,
  "avatar": avatar.$config,
  "action": action.$config,
  "divider": divider.$config,
  "dropdown": dropdown.$config,
  "toast": toast.$config,
  "skeleton": skeleton.$config,
  "gesture-indicator": gesture-indicator.$config,
  "slide-range": slide-range.$config,
  "badge": badge.$config,
  "route-navigator": route-navigator.$config,
  "tooltip": tooltip.$config,
);

$mode: (
  "colors": $colors,
  "layers": $layers,
);